{% extends 'base.html.twig' %}

{% block body %}



<div class="wrapper">

    <div class="pm-info">
        <div class="preview">
        </div>
        <div class="model-info">
            <h1>Оформление заказа</h1>
            <div class="brend"><span>Марка:</span><span>{{ auto.brand }}</span></div>
            <div class="model"><span>Модель:</span><span>{{ auto.model }}</span></div>
            <div class="year"><span>Год:</span><span>{{ auto.year }}</span></div>
        </div>
    </div>
    <form action="/order-create" method="post" name="feedback-form">
        <div class="form">
            <div class="form-reg">
                    <span class="help">*Поля, обязательные для заполнения</span>
                    <br>
                    <label for="name_last-name">
                        Имя и фамилия*
                    </label>
                    <input type="text" name="name" id="name_last-name" maxlength="100" class="field" required><br>

                    <label for="phone">
                        Телефон*
                    </label>
                    <input type="tel" name="phone" id="phone" maxlength="15" class="field" required><br>
                    <label for="mail">
                        Адрес электронной почты*
                    </label>
                    <input type="email" name="email" id="mail" maxlength="75" class="field" required><br>
                    <label for="adress">
                        Адрес доставки
                    </label>
                    <textarea name="comment" id="adress" cols="40" rows="5" class="field"></textarea><br>
            </div>

            <div class="info-more">
                <span>Дополнительная информация</span>
                <p>Изменить/удалить заказ<p>
                <p>Отправки по Украине осуществляются компанией Новая Почта</p>
                <p>Стоимость доставки на отделение Новой Почты составляет 35.00 грн. (склад) и 55.00 грн. (к дверям). В случае оплаты наложенным платежём вы платите также дополнительно 18 грн. за услуги компании Новая Почта по обратному переводу денег.</p>
            </div>

            <div class="total">
                <p><span>ИТОГО: позиций</span><strong>1</strong><span>на сумму</span><strong>180,00 грн</strong></p>
                <div class="form">
                    <input class="submit" type="submit" value="Оформить заказ">
                </div>
            </div>

        </div>
    </form>
</div>

    

{% endblock %}
