header{
    background: #404148;
    height: auto !important;
    position: relative;
}

.menu-navigation{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    border-bottom: none !important;

}
.menu-navigation li a{
    color: #ffffff;
}

.menu-navigation li a:hover{
    color: #666666;
}

.logo {
    padding: 37px 120px;
}

.feedback{
    color: #ffffff;
    position: absolute;
    top: 0;
    height: 100%;
    right: 150px;
    line-height: 0.9em;
    padding-top: 7px;
}